@model Vidly.Models.Customer

@{
	ViewBag.Title = "Details";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles del cliente</h2>

<p>Nombre: @Model.Name </p>
<ul>
	<li>Tipo de membresía: @Model.MembershipType.Name</li>

	@if (Model.Birthdate.HasValue)
	{
		<li>Cumpleaños: @Model.Birthdate.Value.ToShortDateString()</li>
	}
</ul>

