@model IEnumerable<Vidly.Models.Customer>

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Clientes</h2>


<table class="table table-striped table-bordered table-light table-hover" id="customers">
	<thead class="thead-dark">
	<tr>
		<th>Nombre</th>
		<th>Tipo de suscripción</th>
		<th>Borrar</th>
	</tr>
	</thead>
	<tbody></tbody>
</table>


@section scripts
{
	<script>
		$(document).ready(function () {
			var table = $("#customers").DataTable({
				ajax: {
					url: "/api/customers",
					dataSrc: ""
				},
				columns: [
					{
						data: "name",
						render: function(data, type, customer) {
							return "<a href='/customer/edit/" + customer.id + "'>" + customer.name + "</a>";
						}
					},
					{
						data: "membershipType.name"
					},
					{
						data: "id",
						render: function(data) {
							return "<button class='btn-link js-delete' data-customer-id=" + data + ">Delete</button>";
						}
					}
				]
			});

			$("#customers").on("click", ".js-delete",
				function () {    
					var button = $(this);

					bootbox.confirm("¿Estas seguro que querés eliminar este cliente?"
						, function(result) {
							if (result) {
								$.ajax({
									url: "/api/customers/" + button.attr("data-customer-id"),
									method: "DELETE",
									success: function() {
										table.row(button.parents("tr")).remove().draw();
									}
								});
							}
						});
				});
		});
	</script>
}

<p>
	@Html.ActionLink("Nuevo cliente", "New", "Customer", null, new { @class = "btn btn-primary" })
</p>
