@using Vidly.Models
@model Vidly.ViewModels.RandomMovieViewModel

@{
	ViewBag.Title = "Random";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
	var className = Model.Customers.Count > 1 ? "popular" : null;
}

<h2 class="@className">Clientes</h2>

@if (Model.Customers.Count == 0)
{
	<p>No hay usuarios disponibles</p>
}
else
{
	<table class="table table-striped table-bordered table-light">
		<thead class="thead-dark">
		<tr>
			<th scope="col">Nombre</th>
		</tr>
		</thead>
		<tbody>
		@foreach (var customer in Model.Customers)
		{
			<tr>
				<td>@Html.ActionLink(customer.Name, "Details", "Customer", new { id = customer.Id }, null)</td>
			</tr>
		}
		</tbody>
	</table>
}
